/* Write your code here. */
.small-image {
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
}
.thumbnail-image {
  height: 5vh;
  width: 5vw;
  opacity: 0.5;
}
.hidden-content {
  opacity: 1;
}
